html {
    box-sizing: border-box;
    max-width: 1920px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 62,5%;
}


/* ----- HEADER ----- */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;

}


header h1 {
    margin: 30px 0;
    font-size: 1.5rem;
    font-weight: 700;
}

header p {
    font-size: 1.2rem;
}


/* ----- MAIN + GRID ----- */


.grid-setup {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 50px));  
    grid-gap: 10px;
    justify-content: center;
    margin-top: 50px;
}

.grid-div {
    height: 50px;
    width: 50px; 
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(15,118, 110);
}

.grid-setup a {
    text-decoration: none;
    color: white;
    line-height: 1.2rem;
}

/* ----- FOOTER ----- */

footer {
    margin: 20px auto;
    margin-top: 50px;
    width: 80%;
    text-align: center;
    line-height: 2rem;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: white;
}

.footer-sep {
    height: 2px;
    width: auto;
    background-color: black;
    margin-bottom: 10px;
}

.footer-btn {
    background-color: rgb(15,118, 110);
    border-radius: 3px;
    width: 150px;
    margin: 0 auto;
    margin-top: 10px;
}